:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 11.5rem;
  flex: 1;
}

.courses__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  gap: 2rem;
}

.courses__wrong-query-message {
  background: linear-gradient(135deg,var(--color-very-dark-second),var(--color-dark-second));
  border-radius: 50px;
  color: var(--color-light-first);
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 968px) {
  :host {
    padding-top: 6rem;
    gap: 1rem;
  }

  .courses__wrong-query-message {
    font-size: 1.5rem;
    padding: 3rem 0;
  }
}

