:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 11.5rem;
}

@media screen and (max-width: 968px) {
  :host {
    padding-top: 6rem;
    gap: 1rem;
  }
}

