:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 300px;
  gap: 1.25rem;
  max-width: 400px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  background-color: var(--color-very-dark-first);
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
  box-shadow: 2px 2px 16px var(--color-normal-first), 4px 4px 24px var(--color-very-dark-first);
}

.course__title-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100px;
}

.course__title {
  font-weight: bold;
  font-size: 1.25rem;
}

.course__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 1rem;
  height: 100%;
}

.course__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

app-issuer-vertical-chip {
  grid-row: 1 / span 2;

  &:last-child {
    grid-column: span 2;
  }
}

.course__chip-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  app-technology-chip {
    width: 100%;
    justify-content: center;
  }
}

.course__chip-wrapper:last-child:nth-child(even) {
  &:not(:nth-child(2)) {
    grid-column: span 2;
    padding: 0 2rem;
  }
}

.course__view-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: var(--color-very-dark-second);
    box-shadow: 2px 2px 16px var(--color-normal-first);
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}

@media screen and (max-width: 968px) {
  :host {
    flex-basis: 200px;
    max-width: 300px;
    padding: 1.5rem 1rem;
  }

  .course__content {
    padding: 0;
  }

  .course__info-wrapper {
    display: flex;
    flex-direction: column;
  }

  .course__chip-wrapper {
    padding: 0 2rem;
  }
}


