<app-search-bar placeholder="Find projects by name or technology.."  (onValueSearched)="onValueSearched($event)" />

<div class="projects__wrapper">
  @if (displayedProjects().length === 0) {
    <p class="projects__wrong-query-message">No projects found for query: {{searchQuery()}}</p>
  }
  @for (project of displayedProjects(); track project) {
    @if (screenTypeService.isNotDesktop()) {
      <app-project-item-mobile [project]="project" />
    } @else {
      <app-project-item [project]="project" />
    }
  }
</div>
