<app-main-spinner></app-main-spinner>
<div class="main__content-wrapper container__normal">
  <h2 class="main__title">
    Welcome to my homepage!
  </h2>
  <app-image-text-row imageAlt="Sylvana" imageSrc="/assets/images/main_sylvanas.jpg" title="Who am I?" [reverse]=reverseImageTextRow()>
    <p class="main__text">A fourth-year Computer Science student at Gdańsk University of Technology, one step away from becoming an engineer. Also junior fullstack developer at Consdata. Moreover, a promoter of clean code and advanced object-oriented techniques, as well as Java and Angular enthusiast.</p>
  </app-image-text-row>

  <app-image-text-row imageAlt="Sylvana" imageSrc="/assets/images/main_sylvanas.jpg">
    <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti illum inventore maxime officia officiis possimus quia sapiente, tempore vero! Aperiam atque culpa dignissimos dolores ducimus eum excepturi harum in iusto minus numquam possimus provident, repellendus sapiente tempora tenetur velit. Aliquid architecto culpa cum dicta doloremque, doloribus, eaque earum eos error fugit, neque nisi nostrum nulla placeat possimus quibusdam recusandae tempore! Autem debitis eligendi eos est ipsa labore natus quam quisquam quod, rem sapiente sint, vitae! Aliquid consectetur deleniti eius iure magni molestias qui! Asperiores dolorem doloribus harum iste iusto minima mollitia odit porro quos vel? Commodi ea in perferendis?</p>
  </app-image-text-row>
</div>
