:host {
  display: block;
}

.main__title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.main__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-very-dark-first);
  color: var(--color-white-gray);
  padding: 2rem 4rem;
  gap: 3rem;
}

.main__text {
  font-size: 1.25rem;
}

@media screen and (max-width: 968px) {

  .main__content-wrapper {
    padding: 1rem;
    gap: 1rem;
  }

  .main__title {
    font-size: 1.5rem;
  }
}
