<section id="details" class="details">
    <div class="details__container container">
        <div class="details__grid">
            <div class="details__grid-image-wrapper">
                <img class="details__grid-image" src="/assets/details-1.png" alt="Leno App">
            </div>
            <div class="details__grid-content">
                <h3 class="details__grid-heading">Start using Leno today and set your long term goals</h3>
                <p class="details__grid-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consequuntur? Sint nostrum temporibus eum laudantium, quaerat voluptates officia modi perspiciatis!</p>
                <a routerLink="details" class="details__grid-button btn btn--primary">More</a>
            </div>
            <div class="details__grid-content">
                <h3 class="details__grid-heading">The calendar feature helps you schedule tasks</h3>
                <p class="details__grid-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consequuntur? Sint nostrum temporibus eum laudantium, quaerat voluptates officia modi perspiciatis!</p>
                <a routerLink="details" class="details__grid-button btn btn--primary">More</a>
            </div>
            <div class="details__grid-image-wrapper">
                <img class="details__grid-image" src="/assets/details-2.png" alt="Leno App">
            </div>

        </div>
        <div class="details__icons">
            <div class="details__icons-item" *ngFor="let icon of icons;">
                <i class="fas fa-4x {{icon.icon}} details__icons-icon"></i>
                <h2 class="details__icons-amount">{{icon.amount | decimalNumberFormatter}}</h2>
                <h4 class="details__icons-title">{{icon.title}}</h4>
            </div>
        </div>
    </div>
</section>
