:root {
  --color-light-first: rgb(255, 242, 150);
  --color-light-second: rgb(255, 242, 125);
  --color-normal-first: rgb(193, 186, 0);
  --color-normal-second: rgb(224, 214, 25);
  --color-dark-first: rgb(62, 104, 117);
  --color-dark-second: rgb(48, 81, 92);
  --color-very-dark-first: rgb(35, 58, 66);
  --color-very-dark-second: rgb(20, 35, 41);
  --color-very-dark-second-rgb: 20, 35, 41;
  --logo-hue-rotate: 90deg;
  --logo-brightness: 5;

  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-white-gray: #dddddd;
  --color-white: #ffffff;
}
