:root {
  --color-light-first: rgb(242, 255, 204);
  --color-light-second: rgb(229, 255, 153);
  --color-normal-first: rgb(217, 255, 102);
  --color-normal-second: rgb(204, 255, 50);
  --color-dark-first: rgb(72, 114, 127);
  --color-dark-second: rgb(58, 91, 102);
  --color-very-dark-first: rgb(45, 68, 76);
  --color-very-dark-second: rgb(30, 45, 51);
  --color-very-dark-second-rgb: 30, 45, 51;
  --logo-hue-rotate: 90deg;
  --logo-brightness: 5;

  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-white-gray: #dddddd;
  --color-white: #ffffff;
}
