:root {

  --color-light-first: rgb(204, 235, 255);
  --color-light-second: rgb(128, 204, 255);
  --color-normal-first: rgb(77, 184, 255);
  --color-normal-second: rgb(0, 138, 230);
  --color-dark-first: rgb(0, 107, 179);
  --color-dark-second: rgb(0, 74, 128);
  --color-very-dark-first: rgb(0, 45, 77);
  --color-very-dark-second: rgb(0, 30, 51);
  --color-very-dark-second-rgb: 0, 30, 51;
  --logo-hue-rotate: 270deg;
  --logo-brightness: 8;

  --color-black: #000000;
  --color-dark-gray: #333333;
  --color-white-gray: #dddddd;
  --color-white: #ffffff;
}
