<app-main-spinner></app-main-spinner>
<div class="main__content-wrapper container__normal">
  <h2 class="main__title">
    Welcome to my homepage!
  </h2>
  <app-main-image-text-row imageAlt="Who am I?" imageSrc="assets/images/main/main_code.jpg" title="Who am I?" [reverse]=reverseImageTextRow()>
    <p class="main__text">A fourth-year Computer Science student at Gdańsk University of Technology, recent graduate engineer. Also junior fullstack developer looking for job. Moreover, a promoter of clean code and advanced object-oriented techniques, as well as Java and Angular enthusiast.</p>
  </app-main-image-text-row>

  <app-main-image-text-row imageAlt="Behind the scenes" imageSrc="assets/images/main/main_behind.jpg" title="Behind the scenes?">
    <p class="main__text">I love spending time on my hobbies. I'm a big fan of gaming, reading fantasy books, and building LEGO sets. Staying active is also important to me, and I enjoy gym regularly. I’m passionate about traveling and exploring Poland, discovering the beauty of my country.</p>
  </app-main-image-text-row>
</div>
