<section id="preview" class="preview">
    <div class="preview__container container">
        <div class="preview__content">
            <h2 class="preview__title">Preview</h2>
            <p class="preview__description">Take a sneak peek at Leno's sleek and intuitive interface:</p>
            <div class="preview__image-container">
                <div class="preview__video-wrapper">
                    <img class="preview__image-miniature" src="assets/video-frame.jpg" alt="Preview">
                    <button class="preview__video-button">
                        <span class="preview__video-play-button" (click)="sendRequestForPlayVideo()">
                            <span class="preview__video-play-button-triangle"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
