* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Variables */

:root {

    --primary-color: #c3c393;
    --secondary-color: #4e4e3a;

    --container-normal: 1100px;
    --container-wide: 1400px;
    --portfolio-hover-time: 0.2s;
}

/* Utils */

.container {
    width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container--large {
    width: var(--container-wide);
}

.text--primary {
    color: var(--primary-color);
}

.text--secondary {
    color: var(--secondary-color);
}

.bg--primary {
    background-color: var(--primary-color);
}

.bg--secondary {
    background-color: var(--secondary-color);
}

/* Logo */

.logo {
    font-family: "Playwrite FR Moderne", cursive;
    font-size: 1.5rem;
    padding: 10px;
}

/* Portfolio */

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio__image {
    border-radius: 10%;
    transition: filter var(--portfolio-hover-time) ease;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.portfolio__image:hover {
    filter: sepia(50%) contrast(130%) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

/* Footer */

.footer {
    display: flex;
    height: 140px;
    justify-content: space-between;
    align-items: center;
}