<!-- Hero -->

<header id="hero" class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title">
                Your 
                <span class="hero__title--animated">productivity</span>
                assistant
            </h1>
            <p class="hero__description">
                Boost your productivity and improve your health with Leno - the all-in-one app for developers and creators. 
            </p>
            <div class="hero__buttons">
                <a routerLink="/" fragment="download" class="hero__button btn btn--primary">
                    <i class="fa-brands fa-android hero__icon"></i> For Android
                </a>
                <a routerLink="/" fragment="download" class="hero__button btn btn--primary">
                    <i class="fa-brands fa-apple hero__icon"></i> For Apple
                </a>
            </div>
        </div>
        <div class="hero__image-wrapper">
            <img class="hero__image" src="assets/header-smartphones.png" alt="">
        </div>
    </div>
</header>

<!-- Testimonials -->
<testimonials></testimonials>

<!-- Features -->

<section id="features" class="features">
    <div class="features__container container">
        <div class="features__content">
            <h2 class="features__title">Key Takeaways</h2>
            <p class="features__description">Discover the powerful features that make Leno the ultimate productivity and health companion: </p>
            <div class="features__grid">
                <div class="features__grid-column features__grid-column-left">
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-rocket fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Real-Time Data</h4>
                            <p class="features__grid-item-text-description">Access real-time data instantly, ensuring you're always up-to-date with the latest information.</p>
                        </div>
                    </div>
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-code fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Visual Editor</h4>
                            <p class="features__grid-item-text-description">Customize your workspace with our intuitive visual editor.</p>
                        </div>
                    </div>
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-gem fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Refined Options </h4>
                            <p class="features__grid-item-text-description">Access a wide range of refined options to tailor Leno to your unique needs.</p>
                        </div>
                    </div>
    
                </div>
    
                <div class="features__grid-column features__grid-column-center">
                    <img class="features__grid-column-center-image" src="/assets/features-smartphone-1.png" alt="Smartphone">
                </div>
    
                <div class="features__grid-column features__grid-column-right">
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-calendar fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Calendar Input</h4>
                            <p class="features__grid-item-text-description">Seamlessly integrate your calendar to stay organized and on track.</p>
                        </div>
                    </div>
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-book fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Easy Reading</h4>
                            <p class="features__grid-item-text-description">Enjoy distraction-free reading with Leno's clean and intuitive interface.</p>
                        </div>
                    </div>
    
                    <div class="features__grid-item">
                        <div class="features__grid-item-icon-wrapper">
                            <i class="fas fa-cube fa-4x features__grid-item-icon"></i>
                        </div>
                        <div class="features__grid-item-text">
                            <h4 class="features__grid-item-text-title">Good Foundation</h4>
                            <p class="features__grid-item-text-description">Leno is built on a solid foundation of user feedback and cutting-edge technology.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>