<!-- Hero -->

<header class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title">
                Your 
                <span class="hero__title--animated">productivity</span>
                assistant
            </h1>
            <p class="hero__description">
                Boost your productivity and improve your health with Leno - the all-in-one app for developers and creators. 
            </p>
            <div class="hero__buttons">
                <a routerLink="/" fragment="download" class="hero__button btn btn--primary">
                    <i class="fa-brands fa-android hero__icon"></i> For Android
                </a>
                <a routerLink="/" fragment="download" class="hero__button btn btn--primary">
                    <i class="fa-brands fa-apple hero__icon"></i> For Apple
                </a>
            </div>
        </div>
        <div class="hero__image-wrapper">
            <img class="hero__image" src="assets/header-smartphones.png" alt="">
        </div>
    </div>
</header>

<!-- Testimonials -->
<testimonials></testimonials>