<div class="navbar__menu">
    <ul class="navbar__menu-list">
        <li class="navbar__menu-item">
            <a routerLink="/" fragment="" class="navbar__menu-link">Home</a>
        </li>
        <li class="navbar__menu-item">
            <a routerLink="/" fragment="features" class="navbar__menu-link">Features</a>
        </li>
        <li class="navbar__menu-item">
            <a routerLink="/" fragment="preview" class="navbar__menu-link">Preview</a>
        </li>
        <li class="navbar__menu-item">
            <a routerLink="/" fragment="details" class="navbar__menu-link">Details</a>
        </li>
        <li class="navbar__menu-item">
            <a routerLink="/" fragment="download" class="navbar__menu-link">Download</a>
        </li>
        <li class="navbar__menu-item">
            <a href="https://github.com/Sladamos"  class="navbar__menu-link--primary">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li class="navbar__menu-item">
            <a href="https://www.linkedin.com/in/s%C5%82awomir-adamowicz-369593275/"  class="navbar__menu-link--primary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
    </ul>
</div>