:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.image-text-row__image {
  display: block;
  min-width: 400px;
  max-width: 400px;
}

.image-text-row__content {
  border: 2px solid var(--color-light-second);
  border-radius: 12px;
  padding: 16px;
  background-color: var(--color-dark-second);
  box-shadow: 0 4px 12px var(--color-normal-second), 0 2px 15px var(--color-dark-first);
}

@media screen and (max-width: 968px) {
  :host {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image-text-row__image {
    display: block;
    min-width: auto;
  }
}

