:host {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: auto;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem 1rem;
  background-color: var(--color-very-dark-first);
}

.project-item__text-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.project-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  color: var(--color-white-gray);
  border: 2px solid var(--color-light-second);
  box-shadow: 0 4px 12px var(--color-normal-second), 0 2px 15px var(--color-dark-first);
  padding: 1rem;
  width: 100%;
}

.project-item__name {
  font-size: 2rem;
}

.project-item__description {
  font-size: 1.25rem;
  text-align: justify;
}

.project-item__image-wrapper {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.project-item__image {
  width: 100%;
  border-radius: 30px;
}

.project-item__chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.project-item__additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  align-self: flex-start;
  text-align: center;
}

.project-item__additional-info-link {
  color: var(--color-white-gray);
  background-color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 30px;
  transition: scale 0.2s ease-in-out;
}

.project-item__additional-info-link:hover, .project-item__additional-info-link:active {
  scale: 1.1;
}
