<section id="download" class="download">
    <div class="download__container container">
        <div class="download__image-wrapper">
            <img src="/assets/download.png" alt="" class="download__image">
        </div>
        <div class="download__content">
            <p class="download__description">Download Leno today to see the benefits and enjoy the results faster than any other app out there</p>
            <div class="download__buttons">
                <a routerLink="details" fragment="pricing" class="download__button btn btn--primary">
                    <i class="fa-brands fa-android"></i> For Android
                </a>
                <a routerLink="details" fragment="pricing" class="download__button btn btn--primary">
                    <i class="fa-brands fa-apple"></i> For Apple
                </a>
            </div>
        </div>
    </div>
</section>