:host {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  background: linear-gradient(135deg,var(--color-very-dark-second),var(--color-dark-second));
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  gap: 0.75rem;
}

.search-bar__input {
  border: none;
  outline: none;
  color: var(--color-light-first);
  background-color: transparent;
  width: 100%;
  font-size: 2rem;
}

.search-bar__input::placeholder {
  font-size: 1.25rem;
}

.search-bar__icon {
  color: var(--color-light-first);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  :host {
    padding: 0.5rem 0.5rem;
    width: 100%;
  }

  .search-bar__icon {
    font-size: 1rem;
  }

  .search-bar__input {
    font-size: 1.3rem;
  }

  .search-bar__input::placeholder {
    font-size: 0.8rem;
  }
}

