@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Header */

.header-wrapper {
    background: url('../img/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

.header-wrapper.blog {
    background: url('../img/home/blog.jpg') no-repeat center center/cover;
    height: 30vh;
}

.header-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    text-align: center;
}

.header-wrapper__title {
    font-size: 55px;
}

.header-wrapper__desc {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.content-wrapper * {
    z-index: 10;
}


/* Nav bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    z-index: 20;
    transition: background-color 0.3s ease;
}

.nav-bar.top {
    background: transparent;
}

.nav-bar__links {
    display: flex;
}

.nav-bar__link {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.nav-bar__link:hover {
    border-bottom: #f21d1d 2px solid;
}

.nav-bar__logo {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

/* Icons */

.icons {
    padding: 30px;
}

.icons .icon__title {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons .icon__img {
    background-color: #f21d1d;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Team */

.team__member-image {
    border-radius: 50%;
}

/* Contact */

.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form__group {
    margin-bottom: 15px;
}

.callback-form__label {
    display: block;
    margin-bottom: 5px;
}

.callback-form__input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form__button {
    padding: 12px 0;
    margin-top: 20px;
}

/* Post */

.post {
    padding: 20px;
}

.post__header {
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

.post__image {
    border-radius: 50%;
    width: 300px;
    display: block;
    margin: 0 auto;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.footer__social-link {
    color: #fff;
}

.footer__social-link:hover {
    opacity: 0.7;
}
 
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        height: 90px;
        padding: 0px;
    }

    .nav-bar__links {
        flex-wrap: wrap;
        padding-bottom: 15px;
        justify-content: center;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-columns__row {
        flex-direction: column;
    }

    .flex-columns__miniature-image {
        height: 15vh;
    }
}
 
@media screen and (max-width: 480px) {

    .header-wrapper.blog {
        height: 75vh;
    }
    
    .nav-bar {
        flex-direction: column;
        height: 130px;
        padding: 0 15px;
    }

    .nav-bar__links {
        flex-wrap: wrap;
        height: 100px;
        justify-content: center;
        padding: 10px 0;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-columns__row {
        flex-direction: column;
    }

    .section-padding__row  {
        flex-direction: column;
    }
    
}