/* Text colors */

.text--primary {
    color: #28a745;
}

.text--secondary {
    color: #0284d0;
}

/* Buttons and backgrounds */
.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    transition: 300ms;
    opacity: 0.9;
}

.button--primary,
.background--primary {
    background-color: #28a745;
    color: #fff;
}

.button--secondary,
.background--secondary {
    background-color: #0284d0;
    color: #fff;
}

.button--dark,
.background--dark {
    background-color: #333;
    color: #fff;
}

.button--light,
.background--light {
    background-color: #f4f4f4;
    color: #333;
}

.button--outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Containers */

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container__item {
    padding: 20px;
}

/* Columns */

.flex-columns__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns__column-item {
    height: 100%;
}

.flex-columns__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.text-column__header--separated {
    margin-bottom: 10px;
}

.text-column__header--large {
    font-size: 40px;
    font-weight: 100;
}

.text-column__content {
    margin: 20px 0;
}