/* Text colors */

.text--primary {
    color: #f21d1d;
}

.text--secondary {
    color: #c327ff;
}

/* Buttons and backgrounds */
.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    transition: 300ms;
    opacity: 0.9;
}

.button--primary,
.background--primary {
    background-color: #f21d1d;
    color: #fff;
}

.button--secondary,
.background--secondary {
    background-color: #c327ff;
    color: #fff;
}

.button--dark,
.background--dark {
    background-color: #333;
    color: #fff;
}

.button--light,
.background--light {
    background-color: #f4f4f4;
    color: #333;
}

.button--outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Containers */

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container__item {
    padding: 20px;
}

/* Section padding */

.section-padding {
    padding: 20px 20px 40px;    
}

.section-padding__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.section-padding__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Columns */

.flex-columns__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns__column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns__column-item {
    height: 100%;
}

.flex-columns__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns__miniature {
    padding: 0 5px;
}

.flex-columns__miniature-image {
    object-fit: cover;
    height: 30vh;
}

.flex-columns__miniature-image:hover {
    opacity: 0.7;
}

.flex-columns .text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.text-column__header--separated {
    margin-bottom: 10px;
}

.text-column__header--large {
    font-size: 40px;
    font-weight: 100;
}

.text-column__content {
    margin: 20px 0;
}