/* Text colors */

.text--primary {
    color: #28a745;
}

.text--secondary {
    color: #0284d0;
}

/* Buttons */
.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    transition: 300ms;
    opacity: 0.9;
}

.button--primary {
    background-color: #28a745;
    color: #fff;
}

.button--secondary {
    background-color: #0284d0;
    color: #fff;
}

.button--dark {
    background-color: #333;
    color: #fff;
}

.button--light {
    background-color: #f4f4f4;
    color: #333;
}