*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --tertiary-color: #2f2c3d;
}

html, 
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary-color);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar__logo-img {
    width: 112px;
    height: 36px;
}

.navbar__mobile-menu-toggle {
    cursor: pointer;
}

.navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: var(--secondary-color);
    opacity: 0.95;
    padding: 1.5rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.navbar__mobile-menu-items.active {
    transform: translateX(0%);
}

.navbar__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.navbar__mobile-menu-social-medias {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
    color: var(--primary-color);
}
.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
    color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
    color: #fff ;
}

.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}