:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

:host.header__scrolled {
  background-color: rgba(var(--color-very-dark-second-rgb), 0.6);
}

.header__wrapper {
  display: flex;
  color: var(--color-white-gray);
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__text {
  font-size: 24px;
}

.header__image-wrapper {
  max-width: 60px;
  max-height: 60px;

  img {
    filter: hue-rotate(var(--logo-hue-rotate)) brightness(var(--logo-brightness));
  }
}

@media screen and (max-width: 968px) {
  .header__wrapper {
    padding: 1rem 0;
  }

  .header__text {
    font-size: 16px;
  }

  .header__image-wrapper {
    max-width: 45px;
    max-height: 45px;
  }
}
