:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 500px;
}

.main-spinner__item {
  width: 400px;
  height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.main-spinner__text {
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--color-white);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.main-spinner__images-wrapper {
  position: relative;
  width: 100%;
}

.main-spinner__image {
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.main-spinner__santa-hat {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  img {
    width: 50%;
    max-height: 200px;
  }
}

@media screen and (max-width: 968px) {
  :host {
    flex-direction: column-reverse;
    justify-content: end;
    gap: 4rem;
  }

  .main-spinner__item {
    width: 320px;
    height: 150px;
  }

  .main-spinner__text {
    font-size: 1.5rem;
  }

  .main-spinner__santa-hat {
    top: -20px;
    img {
      width: 50%;
    }
  }
}
