<app-spinner class="main-spinner__item">
  <p #spinnerChild class="main-spinner__text">Sladamos</p>
  <p #spinnerChild class="main-spinner__text">Sławomir Adamowicz</p>
</app-spinner>

<div class="main-spinner__item">
  <div class="main-spinner__images-wrapper">
    <app-spinner>
      <img #spinnerChild src="assets/images/main_garfield.jpg" alt="Garfield" class="main-spinner__image">
      <img #spinnerChild src="assets/images/main_me.jpg" alt="Sławomir Adamowicz" class="main-spinner__image">
    </app-spinner>
  </div>
</div>
