<footer class="footer">
    <div class="footer__container container">
        <div class="footer__about">
            <h4 class="footer__title">About Leno</h4>
            <p class="footer_description">Leno is a mobile app that helps you stay focused and improve your productivity. The app provides you with tools to set goals, track your progress, and maintain a healthy work-life balance.</p>
        </div>
        <div class="footer__links">
            <h4 class="footer__title">Quick Links</h4>
            <ul class="footer__links-list">
                <li class="footer__links-item">
                    <a routerLink="/" fragment="top" class="footer__links-link">Home</a>
                </li>
                <li class="footer__links-item">
                    <a routerLink="/" fragment="testimonials" class="footer__links-link">Testimonials</a>
                </li>
                <li class="footer__links-item">
                    <a routerLink="/" fragment="features" class="footer__links-link">Features</a>
                </li>
                <li class="footer__links-item">
                    <a routerLink="/" fragment="preview" class="footer__links-link">Preview</a>
                </li>
                <li class="footer__links-item">
                    <a routerLink="/" fragment="details" class="footer__links-link">Details</a>
                </li>
                <li class="footer__links-item">
                    <a routerLink="/" fragment="download" class="footer__links-link">Download</a>
                </li>
            </ul>
        </div>
        <div class="footer__social">
            <a href="https://github.com/Sladamos" class="footer__social-link">
                <i class="fa-brands fa-github fa-3x"></i>
            </a>
            <a href="https://www.linkedin.com/in/s%C5%82awomir-adamowicz-369593275/" class="footer__social-link">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </a>
        </div>
    </div>
</footer>
