:host {
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
  justify-content: center;
  color: var(--color-white);
}

.sections__button {
  color: inherit;
  font-size: inherit;
  width: 200px;
  opacity: 0.5;
  margin: 0 2.5rem;
  cursor: pointer;
  transition: scale 0.4s ease-out, opacity 0.2s ease-out;
}

.sections__button:hover {
  opacity: 1;
  scale: 1.1;
}

.disappear.sections__button:hover {
  opacity: 0;
}

.sections__button--current {
  opacity: 1;
  font-weight: bold;
}

.disappear {
  opacity: 0;
}
