:host {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  background: linear-gradient(135deg,var(--color-very-dark-first),var(--color-dark-first));
  border-radius: 10px;
  padding: 1rem;
}

.search-bar__input {
  border: none;
  outline: none;
  color: var(--color-light-first);
  background-color: transparent;
  width: 100%;
  font-size: 2rem;
}

.search-bar__input::placeholder {
  font-size: 1.25rem;
}

.search-bar__icon {
  color: var(--color-light-first);
}

@media screen and (max-width: 600px) {
  .search-bar__input {
    font-size: 2rem;
  }

  .search-bar__input::placeholder {
    font-size: 0.75rem;
  }
}

